<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,780},{68,58}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bestTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,843},{137,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,155}}</string>
                <key>sourceSize</key>
                <string>{137,155}</string>
            </dict>
            <key>buttonCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,843},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>buttonDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>buttonRetry.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,624},{217,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,113}}</string>
                <key>sourceSize</key>
                <string>{217,113}</string>
            </dict>
            <key>buttonShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,72},{304,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,113}}</string>
                <key>sourceSize</key>
                <string>{304,113}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,317},{245,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,106}}</string>
                <key>sourceSize</key>
                <string>{245,106}</string>
            </dict>
            <key>good.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,425},{257,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,68}}</string>
                <key>sourceSize</key>
                <string>{257,68}</string>
            </dict>
            <key>great.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,425},{271,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,68}}</string>
                <key>sourceSize</key>
                <string>{271,68}</string>
            </dict>
            <key>headCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,501},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>label_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,490},{132,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,29}}</string>
                <key>sourceSize</key>
                <string>{132,29}</string>
            </dict>
            <key>label_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,74},{414,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,29}}</string>
                <key>sourceSize</key>
                <string>{414,29}</string>
            </dict>
            <key>label_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,72},{427,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,38}}</string>
                <key>sourceSize</key>
                <string>{427,38}</string>
            </dict>
            <key>lineEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{30,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,70}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,780},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>nowScore.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{129,780},{251,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,59}}</string>
                <key>sourceSize</key>
                <string>{251,59}</string>
            </dict>
            <key>paoBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,769},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>paoFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,780},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>paoRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,684},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>paopaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{626,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,175}}</string>
                <key>sourceSize</key>
                <string>{626,175}</string>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{344,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,68}}</string>
                <key>sourceSize</key>
                <string>{344,68}</string>
            </dict>
            <key>pointEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,698},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,425},{414,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,106}}</string>
                <key>sourceSize</key>
                <string>{414,106}</string>
            </dict>
            <key>ready_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{274,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,24}}</string>
                <key>sourceSize</key>
                <string>{274,24}</string>
            </dict>
            <key>ready_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,843},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>ready_pong.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,843},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>ready_tempo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{495,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,55}}</string>
                <key>sourceSize</key>
                <string>{495,55}</string>
            </dict>
            <key>resultBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,187},{591,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,277}}</string>
                <key>sourceSize</key>
                <string>{591,277}</string>
            </dict>
            <key>resultFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,780},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>topBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,136}}</string>
                <key>sourceSize</key>
                <string>{640,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pics.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:642a5c9792fd721201f43e2a07895fca$</string>
            <key>textureFileName</key>
            <string>pics.png</string>
        </dict>
    </dict>
</plist>
